.chocolate-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 220px; /* Adjusted width */
  overflow: hidden;
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  border: 1px solid #ddd; /* Added border */
}

.chocolate-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9; /* Subtle background color change on hover */
}

.chocolate-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd; /* Added border to separate image from text */
}

.chocolate-card h2 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
  font-family: 'Arial', sans-serif; /* Improved font family */
}

.chocolate-card p {
  font-size: 16px;
  color: #666;
  margin: 8px 0;
}

.chocolate-card-content {
  padding: 10px 0;
}

.chocolate-card-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.chocolate-card-description {
  font-size: 1em;
  color: #777;
  margin-bottom: 12px;
}

.chocolate-card-price {
  font-size: 1.2em;
  color: #e74c3c;
  font-weight: bold;
}
